<mat-toolbar>
  <span class="toolbar-spacer"></span>
  <span>Medical Entity Extraction</span>
  <span class="toolbar-spacer"></span>

  <button
    mat-icon-button
    class="sidebar-toggle controls-toggle"
    [ngClass]="{'open': isControlsSidebarOpen, 'closed': !isControlsSidebarOpen}"
    (click)="toggleControlsSidebar()"
    [matTooltip]="isControlsSidebarOpen ? 'Collapse Controls' : 'Expand Controls'"
    aria-label="Toggle Controls Sidebar">
    <mat-icon>{{ isControlsSidebarOpen ? 'menu_open' : 'menu' }}</mat-icon>
  </button>

  <button
    mat-icon-button
    class="sidebar-toggle entities-toggle"
    [ngClass]="{'open': isEntitiesSidebarOpen, 'closed': !isEntitiesSidebarOpen}"
    (click)="toggleEntitiesSidebar()"
    [matTooltip]="isEntitiesSidebarOpen ? 'Collapse Entities' : 'Expand Entities'"
    aria-label="Toggle Entities Sidebar">
    <mat-icon>{{ isEntitiesSidebarOpen ? 'menu_open' : 'menu' }}</mat-icon> </button>
</mat-toolbar>

<as-split direction="horizontal" class="app-split-container" [useTransition]="true">
  <as-split-area
    [size]="20"
    [minSize]="5"
    [maxSize]="40"
    [visible]="isControlsSidebarOpen"
    >
    <div class="scrollable-content" style="height: 100%; overflow: auto;">
        <app-controls-sidebar></app-controls-sidebar>
    </div>
  </as-split-area>

  <as-split-area class="scrollable-content"
    [size]="55"
    [minSize]="20"
    >
    <div style="height: 100%; overflow: auto; padding: 16px;">
      <app-results-display></app-results-display>
    </div>
  </as-split-area>

  <as-split-area
    [size]="25"
    [minSize]="5"
    [maxSize]="40"
    [visible]="isEntitiesSidebarOpen"
    >
     <div class="scrollable-content" style="height: 100%; overflow: auto;">
        <app-entities-sidebar></app-entities-sidebar>
     </div>
  </as-split-area>

</as-split>